<div class="col-12 mt-10">
  <div class="container borde">
    <h1 class="text-center mt-4">Options</h1>

    <form action="">
        <div class="row g-3">
            <div class="col-6">
                <div class="form-group">
                  <label for="exampletext1" class="form-label">Username</label>
                  <input type="text" class="form-control cf" id="exampletext1">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                  <label for="exampletext2" class="form-label">User Full Name</label>
                  <input type="text" class="form-control cf" id="exampletext2">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <label for="exampletext3" class="form-label">User Description</label>
                  <input type="text" class="form-control cf" id="exampletext3">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputPassword1" class="form-label">Old Password</label>
                  <input type="password" class="form-control cf" id="exampleInputEmail1">
                </div>
            </div>
            <div class="col-md-3">
              <label for="exampleInputPassword2" class="form-label">New Password</label>
              <input type="password" class="form-control cf" id="exampleInputPassword2">
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputPassword3" class="form-label">Repeat Password</label>
                  <input type="password" class="form-control cf" id="exampleInputPassword3">
                </div>
            </div>


        </div>
        <br>
        <div class="row g-3">
            <div class="col-4 text-center">
            </div>
            <div class="col-4 d-grid mx-auto text-center">
                <button class="btn btn-primary "><b>Send</b></button>
            </div>
            <div class="col-4 text-center">
            </div>
            <div class="col-3 text-center">
            </div>
            <div class="col-3 text-center">
            </div>
            <div class="col-3 text-center">
            </div>
            <div class="col-3 text-center">
            </div>
        </div>
    </form>
  </div>

</div>

