<div class="col-12 mt-12">
  <div id="page-content-wrapper">
       <div class="container">
           <h1 class="text-center mt-4">Site</h1>
           <form action="" class="form-admin">
               <div class="row g-12">
                   <div class="col-2">
                       <div class="form-group">
                           <label for="">Number</label>
                           <input type="number" id="campo" class="form-control" placeholder="" value="1">
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="">Name</label>
                           <input type="text" id="campo" class="form-control" value="First Test" style="font-weight: bold;">
                       </div>
                   </div>
                   <div class="col-md-2">
                       <div class="form-group">
                           <label for="">Start date</label>
                           <input type="date" id="campo" class="form-control" value="17/09/2021">
                       </div>
                   </div>
                   <div class="col-md-2">
                       <div class="form-group">
                           <label for="">dd/mm/yy</label>
                           <input type="date" id="campo" class="form-control" value="17/09/2021">
                       </div>
                   </div>
                   <div class="col-md-3">
                       <label for="">Duration</label>
                       <input type="text" id="campo" class="form-control" value="300">
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Stop answering</label>
                           <input type="text" id="campo" class="form-control" value="285">
                       </div>
                   </div>

                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Stop recording</label>
                           <input type="text" id="campo" class="form-control" value="240">
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Returns</label>
                           <input type="text" id="campo" class="form-control" value="20">
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Task</label>
                           <input type="text" id="campo" class="form-control" value="100">
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Username</label>
                           <input type="text" id="campo" class="form-control" value="100">
                       </div>
                   </div>
                   <div class="col-1">
                       <div class="form-group">
                         <br>
                         <input type="checkbox" id="active" class="form-check-input" name="active" value="1" checked>
                         <label class="form-check-label" for="">Active</label>
                       </div>
                   </div>
                   <div class="col-1">
                       <div class="form-group">
                         <br>
                         <input type="checkbox" id="autoload" class="form-check-input" name="autoload" value="1" checked>
                         <label for="" class="form-check-label">Autoload</label>
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Global Score</label>
                           <input type="number" id="campo" class="form-control" value="1">
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Global Score</label>
                           <select class="form-select" name="select">
                             <option value="value1">Value 1</option>
                             <option value="value2" selected>Value 2</option>
                             <option value="value3">Value 3</option>
                           </select>
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Socre level</label>
                           <input type="number" id="score" class="form-control" placeholder="" value="1">
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Number of return</label>
                           <input type="number" id="num-returns" class="form-control" placeholder="" value="1">
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-group">
                           <label for="">Number of tasks</label>
                           <input type="number" id="num-tasks" class="form-control" placeholder="" value="1">
                       </div>
                   </div>

               </div>
               <br>
               <div class="row g-3">
                   <div class="col-4 text-center">
                       <button class="btn btn-primary"><b>UPDATE</b></button>
                   </div>
                   <div class="col-4 text-center">
                       <button class="btn btn-primary"><b>UPDATE CONTEST AND ALL SITES</b></button>
                   </div>
                   <div class="col-4 text-center">
                       <button class="btn btn-primary"><b>CLEAR</b></button>
                   </div>
                   <div class="col-3 text-center">
                       <button class="btn btn-primary"><b>DELETE ALL CLARS</b></button>
                   </div>
                   <div class="col-3 text-center">
                       <button class="btn btn-primary"><b>DELETE ALL RUNS</b></button>
                   </div>
                   <div class="col-3 text-center">
                       <button class="btn btn-primary"><b>DELETE ALL TASKS</b></button>
                   </div>
                   <div class="col-3 text-center">
                       <button class="btn btn-primary"><b>DELETE ALL BKPS</b></button>
                   </div>
               </div>
           </form>


       </div>
   </div>
</div>
