<div class="col-12 mt-10">
  <div class="container">
    <h1 class="text-center mt-4">Contest</h1>
    <div class="col-12">
        <h4 for="">Contest number: 2</h4>
    </div>
    <form action="">
        <div class="row g-3">
            <div class="col-6">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" id="campo" class="form-control" placeholder="" value="test">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Start Date</label>
                    <input type="time" id="campo" class="form-control" value="18:26" style="font-weight: bold;">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">dd/mm/yy</label>
                    <input type="date" id="campo" class="form-control" value="17/09/2021">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Stop answering (In minutes)</label>
                    <input type="text" id="campo" class="form-control" value="285">
                </div>
            </div>
            <div class="col-md-3">
                <label for="">Duration(In minutes)</label>
                <input type="text" id="campo" class="form-control" value="300">
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Stop recording (In minutes)</label>
                    <input type="text" id="campo" class="form-control" value="240">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Penalty</label>
                    <input type="text" id="campo" class="form-control" value="20">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Max file size allowed for teams (KB)</label>
                    <input type="text" id="campo" class="form-control" value="100">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Main site URL (IP/bocafolder)</label>
                    <input type="text" id="campo" class="form-control" value="100">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="">Unlock Password (Only use it within a secure network)</label>
                    <input type="text" id="campo" class="form-control">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="">Keys (Only use it within a secure network)</label>
                    <input type="file" id="campo" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Contest main site number</label>
                    <input type="number" id="campo" class="form-control" value="1">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Contest local site number</label>
                    <input type="number" id="campo" class="form-control" value="1">
                </div>
            </div>

        </div>
        <br>
        <div class="row g-3">
            <div class="col-4 text-center">
                <button class="btn btn-primary"><b>UPDATE</b></button>
            </div>
            <div class="col-4 text-center">
                <button class="btn btn-primary"><b>UPDATE CONTEST AND ALL SITES</b></button>
            </div>
            <div class="col-4 text-center">
                <button class="btn btn-primary"><b>CLEAR</b></button>
            </div>
            <div class="col-3 text-center">
                <button class="btn btn-primary"><b>DELETE ALL CLARS</b></button>
            </div>
            <div class="col-3 text-center">
                <button class="btn btn-primary"><b>DELETE ALL RUNS</b></button>
            </div>
            <div class="col-3 text-center">
                <button class="btn btn-primary"><b>DELETE ALL TASKS</b></button>
            </div>
            <div class="col-3 text-center">
                <button class="btn btn-primary"><b>DELETE ALL BKPS</b></button>
            </div>
        </div>
    </form>
  </div>

</div>

